@use "sass:color";

@import "./reset";
@import "./normalize";

:root {
    --bg-color: #111;
    --main-color: #f7f7f7;
    --sub-color: #444;
    --sub-alt-color: #191919;
    --text-color: #eee;
    --error-color: #da3333;
    --error-extra-color: #791717;
    --border-radius: 6px;
    --transition-duration: 0.08s;
}
:root {
    --popper-theme-background-color: var(--sub-alt-color);
    --popper-theme-background-color-hover: var(--sub-alt-color);
    --popper-theme-text-color: var(--text-color);
    --popper-theme-border-color: var(--sub-color);
    --popper-theme-border-width: 1px;
    --popper-theme-border-style: solid;
    --popper-theme-border-radius: var(--border-radius);
    --popper-theme-padding: 6px;
    --popper-theme-box-shadow: 0;
}
@media (prefers-color-scheme: dark) {
    body {
        color-scheme: dark;
    }
}

// @font-face {
//     font-family: "Noto Sans TC";
//     src: url("./fonts/NotoSansTC-Thin.eot");
//     src:
//         url("NotoSansTC-Thin.eot?#  iefix") format("embedded-opentype"),
//         url("./fonts/NotoSansTC-Thin.woff2") format("woff2"),
//         url("./fonts/NotoSansTC-Thin.woff") format("woff"),
//         url("./fonts/NotoSansTC-Thin.ttf") format("truetype");
//     font-weight: 400;
//     font-style: normal;
//     font-display: block;
//     line-height: normal;
// }

main {
    display: flex;
    padding: 0 16px;
    height: 100%;
    flex-grow: 1;
    flex-direction: column;
}
a {
    color: var(--sub-color);
    transition: all var(--transition-duration);
    &:hover {
        color: var(--main-color);
    }
}
html,
body {
    line-height: normal;
}
html {
    overflow-y: scroll;
    scroll-behavior: smooth;
    line-height: 1.25;
    text-size-adjust: 100%;
}
body {
    font-size: 16px;
    background-color: var(--bg-color);
    box-sizing: border-box;
    font-family: "Noto Sans TC";
    transition:
        background 0.25s ease 0s,
        transform 0.05s ease 0s;
}

::-moz-selection {
    color: var(--bg-color);
    background: var(--main-color);
}

::selection {
    color: var(--bg-color);
    background: var(--main-color);
}
