@font-face {
    font-family: 'Noto Sans TC';
    src: url('NotoSansTC-Thin.eot');
    src: url('NotoSansTC-Thin.eot?#iefix') format('embedded-opentype'),
        url('NotoSansTC-Thin.woff2') format('woff2'),
        url('NotoSansTC-Thin.woff') format('woff'),
        url('NotoSansTC-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: block;
    
}

